header {
  margin-bottom: 50px;
}


article {
  display: block;
  width: 80%;
  margin: 20px auto;



}
article img {
  width: 30%;
  height: auto;
  float: left;
  margin-right: 30px;

}

h4 {
  color: #009DD3
}

article p {
  text-align: justify;
  padding-bottom: 10px;
  border-bottom: 1px dashed #009DD3;
}
