* {

  font-family: 'Oswald', sans-serif;
}

@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Oswald');

body {
  background-image: url(images/background.png);
  background-size: 100%;
}


/*----------------------Mise en forme du header ------------------------*/
header {

  width: 100%;
  background-image: url(images/headertest.jpg);
  background-size: 30%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}


h1 {
  padding-top: 10px;
  margin-bottom: 0;
  margin-left: 20%

}

h2 {

  padding-bottom: 20px;
  margin-left: 5%;
}

h1,h2 {

  font-family: cursive;
  color: white;
  display: inline-block;
}


header input { /*barre de recherche*/

   margin-left: 70%;
   display: inline-block;
   width: 20%;
 }

 header img {
   float: left;
   width: 10%;
   margin-top: -7%;
   margin-left: 15px;
 }
/*****************Mise en forme du menu********************************/
 nav {
   width: 100%;
   background-color: blue;
 }

 nav a { /*liens du menu*/
   display: inline-block;
   width: 23.9%;
   color: white;
   text-align: center;
   padding: 5px;
   text-decoration: none;
 }

 nav a:hover { /*liens du menu survolés*/
   background-color: white;
   color: #009DD3;
   font-weight: bold;
 }
/******************************responsive************************************/

@media only screen and (max-width: 1200px) {
   nav a {
     width:100%;
     margin-left: 0;
   }

  footer p {
  display: block;
  width: 75%;
  text-align: center;
  }

   }



/*-----------------Mise en page section ------------------*/

section {
  width: 100%;
}

  a article:hover {
   box-shadow: 2px 2px 2px black;
   background-color: white;
 }

 article:hover {
   background-color: white;
 }

 h3 {
   margin-left:30px;
   margin-top: 30px;
   color: white;

 }

 article h3 { /* titre 3 qui ne sont pas dans la page d'accueil*/
   text-align: center;
   margin-left: 0;
   color: black;
 }

 h4 {
   color: #009DD3;
   text-align: center

 }

 article {
   display: block;
   width: 80%;
   margin: 20px auto;
   background-color: rgba(225, 225, 225, 0.6);
   padding:  5px;
   border: 1px dotted black;
   margin-left: 6%;
   text-align: justify;

 }

.vente1,.vente2,.vente3 { /*articles de la page d'accueil*/
   display: inline-block;
   width: 25%;
   vertical-align: top;
   text-align: center;
   padding:  5px;
   border: 1px dotted black;

 }

 .vente1 {
   border-bottom-left-radius: 60px;
   border-top-right-radius: 60px;

 }

 .vente2 {
   padding-top: 88px;
   border-radius: 10px;
 }

 .vente3 {
   border-bottom-right-radius: 60px;
   border-top-left-radius: 60px;
   padding-top: 88px;
 }

 article img {
   width: 30%;
   height: auto;
   float: left;
   margin-right: 30px;
   opacity: 2

 }


 .vente1 img,.vente2 img,.vente3 img{ /* Images des articles de la page d'accueil*/
   width: 100%;
   height: auto;
 }

 .nom { /* situé sur la page d'accueil*/
   text-decoration: underline;
   font-weight: bold;
   text-align: center;
   border: none;
 }

 .description { /* situé sur la page d'accueil*/
   font-style: italic;
   font-size: 0.8em;
   text-align: center;
 }

 .prix { /* situé sur la page d'accueil*/
   color: red;
   font-size: 1.5em;
   /*background-color: yellow;*/
   text-align: center;
   border: none;

 }

 article p { /* paragraphe de tous les articles */
   text-align: justify;
   border-bottom: 1px dashed #009DD3;
   padding: 10px;
 }

 iframe { /* map google*/
   margin-left: 10%;
   width: 80%;
 }

 i{ /* tous les icones */
   margin-right: 10px;
 }

 a {
   text-decoration: none;
 }



/*--------------------------formulaire de page contact---------------*/
 form div + div {
     margin-top: 1em;
 }

 form input {
   margin: auto;
   width: 300px;
 }

 label {
   display: inline-block;
    width: 300px;
    text-align: center;
    vertical-align: top;
 }

  textarea {
     vertical-align: top;
     width: 300px;
     height: 200px;
  }

  .button {
     margin: auto;
     width: 300px;
  }


/* ---------------Mise en page du footer-----------------*/
 footer {
   width: 100%;
   background-image: url(images/headertest.jpg);
   background-size: 30%;
   margin-top: 50px;
   color: white;


 }
 footer p {
   display: inline-block;
   margin-left: 13%;
 }

/*-----------------------slideshox page accueil --------------------*/

 div img {
   width: 300px;
   height: 150px;
 }

 #slideshow {
	position: relative;    /* le parent positionné */
	width: 300px;          /* limite en largeur (1 élément du slideshow) */
	height: 150px;         /* limite en hauteur */
	overflow: hidden;      /* on cache ce qui déborde */
  margin: auto;
}

#sContent {
	position: absolute;   /* on sort l'élément du flux */
	top: 0;               /* on le positionne précisément dans... */
	left: 0;              /* l'angle haut gauche de son parent positionné */
	margin: 0;
	padding: 0;
        width: 300%;          /* ou 200% (car deux éléments) */
	/* CSS3 Transition */
  animation-name: AutoSlide;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}
#sContent li {
	display: inline;      /* on aligne les éléments du slideshow */
}

@keyframes AutoSlide {
	0%, 15%, 100% {
		left: 0px; /*1ère image*/
	}
	35%, 50% {
		left: -300px; /*2ème image*/
	}
	70%, 85% {
		left: -600px; /*3ème image*/
	}
}
